/* Saul Maylin 21005729
Date: 11/11/2025
v1.1
Colour CSS
 */

/* Colours */
.bodyDefault {
  background-color: #dfdede;
}
.nav-link.border {
  color: black;
  background-color: #d9d9d9;
}

.nav-colour {
  background-color: #9bbdd9;
}

.navbar-toggler {
  background-color: #d9d9d9;
}

.primary-button {
  background-color: #feb0ed;
  font-weight: bold;
}

.secondary-button {
  background-color: #ffffff;
  font-weight: bold;
}

.primary-button:hover {
  background-color: #fa99e5;
}

.secondary-button:hover {
  background-color: #e6e6e6;
}

.primary-button:disabled {
  background-color: #ffc9f2;
}

.secondary-button:disabled {
  background-color: #a39f9f;
  cursor: not-allowed;
}

.main-background {
  background-color: #72aad9;
}

.secondary-background {
  background-color: #D9D9D9;
}

.actionDiv {
  background-color: #feb0ed;
}

.actionDiv:hover {
  background-color: #fa99e5;
  cursor: grab;
}

/* Dynamic remove for mobile */
@media (max-width: 768px) {
  .destroy-on-mobile {
    display: none;
  }
}

/* Dynamic remove for mobile */
@media (max-width: 888px) {
  .destroy-on-mobile {
    display: none;
  }
}

/* # Source - https://stackoverflow.com/a/356123
# Posted by Diodeus - James MacFarlane, modified by community. See post 'Timeline' for change history
# Retrieved 2025-11-21, License - CC BY-SA 4.0 */

@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}
